<div class="view">
<h1>Edit Your Profile</h1>

    <form class="login" method="post">


        <input  type="text" value="{{data.first}}">
        <input type="text" value="{{data.last}}">
        <input  type="text" value="{{data.email}}">

        <input type="text" value="{{data.age}}">
        <input  type="text" value="{{data.city}}">
        <input  type="text" value="{{data.url}}">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input  type="password" value="" placeholder="password">
        <button id="button">Update</button>
    </form>
</div>
